{% extends "layout.html" %}
{% block title %}Add/Edit Class{% endblock %}
{% block link %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
{% endblock %}
{% block top %}
<div class="hero-body">
  <div class="container">
    <h1 class="title has-text-centered">Add/edit class</h1>

    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="notification is-{{category}}" style="width: 80%; margin: 0 auto;">
      <button class="delete"></button>
      {{ message }}
    </div>
    {% endfor %}

    <form method="post" name="add_class" style="width: 80%; margin: 0 auto;" class="box has-background-warning" enctype = "multipart/form-data">
      
      <div class="field">
        <label for="crn" class="label">CRN*</label>
        <div class="control">
          <input type="number" name="crn" id="crn" class="input" min="10000" max="99999" step="1" placeholder="Class Reference Number (5 digits)" value="{{ values['crn'] }}" required/>
        </div>
      </div>

      <div class="columns mb-1">
        <div class="field column mb-0">
          <label for="year" class="label">Year*</label>
          <div class="control">
            {% if values['semester'] == "" %}
            <input type="number" name="year" id="year" class="input" min="1773" max="{{ year|int + 1 }}" step="1" placeholder="For a 2018-2019 semester, enter latter value (ex. 2019)" value="" required/>
            {% else %}
            <input type="number" name="year" id="year" class="input" min="1773" max="{{ year|int + 1 }}" step="1" placeholder="For 2018-2019 Fall semester, enter 2019" value="{{ values['semester']|int // 100 }}" required/>
            {% endif %}
          </div>
        </div>

        <div class="field column mb-0">
          <label for="season" class="label">Season*</label>
          <div class="control">
            <select class="form-control" id="season" name="season" style="width: 100%" required>
              <option value="">&nbsp;</option>
              <option value="10">Fall</option>
              <option value="20">Spring</option>
              <option value="30">Summer</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label for="course" class="label">Course Code*</label>
        <div class="control">
          <select class="form-control" id="course" name="courseCode" style="width: 100%" required>
            <option value="">&nbsp;</option>
            {% for courseCode, courseTitle in courses %}
            <option value="{{ courseCode }}">{{ courseCode }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="field">
        <label for="instructor" class="label">Instructor(s)*</label>
        <div class="control">
          <select class="form-control" multiple="multiple" id="instructor" name="instructors[]" style="width: 100%" required>
            {% for instructorID, instructorName in instructors %}
            <option value="{{ instructorID }}">{{ instructorName }} ({{ instructorID }}) </option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="columns mb-1">
        <div class="field column mb-0">
          <label for="quota" class="label">Quota</label>
          <div class="control">
              <input type="number" name="quota" id="quota" class="input" min="0" step="1" placeholder="Max quota of class" value="{{ values['quota'] }}"/>
          </div>
        </div>

        <div class="field column mb-0">
          <label for="enrolled" class="label">Enrolled</label>
          <div class="control">
              <input type="number" name="enrolled" id="enrolled" class="input" min="0" step="1" placeholder="Amount of students enrolled to class"  value="{{ values['enrolled'] }}"/>
          </div>
        </div>
      </div>

      <div class="columns mb-1">
        <div class="field column mb-0">
          <label for="passGrade" class="label">Passing Grade</label>
          <div class="control">
              <input type="number" name="passGrade" id="passGrade" class="input" min="0" step="1" max="100" placeholder="Total weighted average required to pass class" value="{{ values['passGrade'] }}"/>
          </div>
        </div>

        <div class="field column mb-0">
          <label for="vfGrade" class="label">VF Grade</label>
          <div class="control">
              <input type="number" name="vfGrade" id="vfGrade" class="input" min="0" step="1" max="100" placeholder="Total weighted average required to attend final"  value="{{ values['vfGrade'] }}"/>
          </div>
        </div>
      </div>

      <label for="syllabus" class="label">Syllabus (PDF)</label>
      <div class="file has-name field" id="file-field">
        <label for="syllabus" class="file-label">
          <input class="file-input" type="file" name="syllabus" id="syllabus">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Choose a file…
            </span>
          </span>
          {% if values['syllabus'] == "" or values['syllabus'] == None %}
          <span class="file-name">
            No file uploaded yet
          </span>
          {% else %}
          <span class="file-name">
            {{ values['syllabus'] }}
          </span>
          {% endif %}
        </label>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-primary has-background-white has-text-warning-dark">Save</button>
        </div>
      </div>
    </form>

    <script>
      const fileInput = document.querySelector('#file-field input[type=file]');
      fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
          const fileName = document.querySelector('#file-field .file-name');
          fileName.textContent = fileInput.files[0].name;
        }
      }
    </script>

    <script>
    $("#season").select2();
    $('#season').val('{{ values["semester"]|int % 100 }}');
    $('#season').trigger('change'); 

    $("#course").select2();
    $('#course').val('{{ values["courseCode"] }}');
    $('#course').trigger('change'); 

    $("#instructor").select2({
      placeholder: "Full name of instructor(s)"
    });
    var ids = {{ values['instructors'] | tojson | safe }};
    $('#instructor').val(ids);
    $('#instructor').trigger('change');
    </script>
  </div>
</div>
{% endblock %}