{% extends "layout.html" %}
{% block title %}Add/Edit Class{% endblock %}
{% block link %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
{% endblock %}
{% block top %}
<div class="hero-body">
  <div class="container">
    <h1 class="title has-text-centered">Add/edit class</h1>

    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="notification is-{{category}}" style="width: 80%; margin: 0 auto;">
      <button class="delete"></button>
      {{ message }}
    </div>
    {% endfor %}
    
    <form action="" method="post" name="add_class" style="width: 80%; margin: 0 auto;" class="box has-background-warning">
      
      <div class="field">
        <label for="crn" class="label">CRN</label>
        <div class="control">
            <input type="number" name="crn" class="input" min="10000" max="99999" placeholder="Class Reference Number (5 digits)" value="{{ values['crn'] }}" required/>
        </div>
      </div>

      <div class="field">
        <label for="semester" class="label">Semester</label>
        <div class="control">
            <input type="number" name="semester" class="input" min="202110" placeholder="Semester number (6 digits)" value="{{ values['semester'] }}" required/>
        </div>
      </div>

      <div class="field">
        <label for="courseCode" class="label">Course Code</label>
        <div class="control">
          <select class="form-control" id="course" name="courseCode" style="width: 100%" required>
            {% for courseCode, courseTitle in courses %}
            <option value="{{ courseCode }}">{{ courseCode }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <!--
      <div class="field">
        <label for="courseTitle" class="label">Course Title</label>
        <div class="control">
            <input type="text" class="input" name="courseTitle" minlength="1" maxlength="255" placeholder="Title of the course (max 255 characters) (ex. Database Systems)" readonly/>
        </div>
      </div>
      -->

      <div class="field">
        <label for="instructorName" class="label">Instructor(s)</label>
        <div class="control">
          <select class="form-control" multiple="multiple" id="instructor" name="instructors[]" style="width: 100%" placeholder="test" required>
            {% for instructorID, instructorName in instructors %}
            <option value="{{ instructorID }}">{{ instructorName }} ({{ instructorID }}) </option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="columns mb-1">
        <div class="field column mb-0">
          <label for="Quota" class="label">Quota</label>
          <div class="control">
              <input type="number" name="quota" class="input" min="0" step="1" placeholder="Max quota of class" value="{{ values['quota'] }}"/>
          </div>
        </div>

        <div class="field column mb-0">
          <label for="Enrolled" class="label">Enrolled</label>
          <div class="control">
              <input type="number" name="enrolled" class="input" min="0" step="1" placeholder="Amount of students enrolled to class"  value="{{ values['enrolled'] }}"/>
          </div>
        </div>
      </div>

      <div class="columns mb-1">
        <div class="field column mb-0">
          <label for="Passing Grade" class="label">Passing Grade</label>
          <div class="control">
              <input type="number" name="passGrade" class="input" min="0" step="1" max="100" placeholder="Total weighted average required to pass class" value="{{ values['passGrade'] }}"/>
          </div>
        </div>

        <div class="field column mb-0">
          <label for="VF Grade" class="label">VF Grade</label>
          <div class="control">
              <input type="number" name="vfGrade" class="input" min="0" step="1" max="100" placeholder="Total weighted average required to attend final"  value="{{ values['vfGrade'] }}"/>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-primary has-background-white has-text-warning-dark">Save</button>
        </div>
      </div>
    </form>

    <script>
    $("#course").select2();
    $('#course').val('{{ values["courseCode"] }}');
    $('#course').trigger('change'); 

    $("#instructor").select2({
      placeholder: "Full name of instructor(s)"
    });
    var ids = {{ values['instructors'] | tojson | safe }};
    $('#instructor').val(ids);
    $('#instructor').trigger('change');
    </script>
  </div>
</div>
{% endblock %}