{% extends "layout.html" %}
{% block title %}Add Coursework Type{% endblock %}
{% block link %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
{% endblock %}
{% block top %}
<div class="hero-body">
  <div class="container">
    <h1 class="title has-text-centered">Add coursework type</h1>

    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="notification is-{{category}}" style="margin: 0 auto;">
      <button class="delete"></button>
      {{ message }}
    </div>
    {% endfor %}
    
    <form method="post" name="add_courseworktype" style="width: 80%; margin: 0 auto;" class="box has-background-warning">
      
      <div class="field">
        <label for="workTitle" class="label">Coursework Title*</label>
        <div class="control">
          <input type="text" name="workTitle" id="workTitle" class="input" maxlength="255" placeholder="Generic title of the coursework (ex. Final, Midterm)" required/>
        </div>
      </div>

      <div class="field">
        <label for="deadlineType" class="label">Deadline Type*</label>
        <div class="control">
          <select class="form-control" id="deadlineType" name="deadlineType" style="width: 100%" required>
            <option value="">&nbsp;</option>
            <option value="start">Show Start Time</option>
            <option value="end">Show End Time</option>
          </select>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-primary has-text-warning-dark has-background-white">Save</button>
        </div>
      </div>

    </form>
  </div>
</div>
<script>
  $("#deadlineType").select2();
</script>
{% endblock %}