<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <title>Kuizci Arı - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='layout.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/977aaa7cfd.js" crossorigin="anonymous"></script>
    {% block link %}{% endblock %}
  </head>
  <body>
    <section class="hero is-fullheight-with-navbar">
    <div class="hero-head">
      <nav class="navbar" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ url_for('home_page') }}">
            <img src="{{ url_for('static', filename='favicon.ico') }}" alt="arıcık" >
          </a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a href="{{ url_for('semesters_page') }}" class="navbar-item is-hoverable">Class List</a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">Add</a>
              <div class="navbar-dropdown">
                <a href="{{ url_for('class_addition_page') }}" class="navbar-item">Class</a>
                <a href="{{ url_for('course_addition_page') }}" class="navbar-item">Course</a>
                <a href="{{ url_for('instructor_addition_page') }}" class="navbar-item">Instructor</a>
                <a href="{{ url_for('courseworktype_addition_page') }}" class="navbar-item">Coursework Type</a>
              </div>
            </div>
          </div>

          <div class="navbar-end">
            {% if session['logged_in'] == True %}
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">{{ session['mail'] }}</a>
              <div class="navbar-dropdown">
                <a href="{{ url_for('profile_works_page') }}" class="navbar-item">Courseworks</a>
                <a href="{{ url_for('profile_follows_page') }}" class="navbar-item">Classes</a>
                <a href="{{ url_for('logout_page') }}" class="navbar-item">Log out</a>
              </div>
            </div>
            {% else %}
            <div class="navbar-item">
              <div class="buttons">
                <a href="{{ url_for('signup_page') }}" class="button is-warning">
                  <strong>Sign up</strong>
                </a>
                <a href="{{ url_for('login_page') }}" class="button is-light">
                  Log in
                </a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </nav>
    </div>
  {% block top %}{% endblock %}
  <div class="hero-foot">
      <div class="content has-text-centered">
        <p>
          &copy; {{ year }}, <a href="https://github.com/khmaxim"><strong>Khayal Huseynov</strong></a>
        </p>
      </div>
  </div>
  </section>
  </body>
</html>