{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block top %}
<div class="hero-body">
    <div class="container has-text-centered">
        <div class="block">
            <h1 id="override" class="title is-1 inline" style="display: inline;">{{ session['mail'] }}</h1>
        </div>
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="notification is-{{category}}">
          <button class="delete"></button>
          {{ message }}
        </div>
      {% endfor %}
      <div class="table-container">
        <table class="table is-bordered is-striped is-fullwidth has-text-centered">
          <thead class="has-background-warning">
            <tr>
              <th>workID</th>
              <th>Work Type</th>
              <th>Date</th>
              <th>Time</th>
              <th>Grading %</th>
              <th>Course Title</th>
            </tr>
          </thead>
          <tbody>
            {% for coursework in courseworks %}
              <tr>
                <td><a href="{{ url_for('coursework_page', workID=coursework['workID']) }}">{{ coursework['workID'] }}</a></td>
                <td>{{ coursework['workTitle'] }}</td>
                <td>{{ coursework['date'] }}</td>
                <td>{{ coursework['time'] }}</td>
                <td>{{ coursework['grading'] }}</td>
                <td><a href="{{ url_for('class_page', crn=coursework['crn'], semester=coursework['semester']) }}">{{ coursework['courseTitle'] }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>
{% endblock %}