{% extends "layout.html" %}
{% block title %}Signup{% endblock %}
{% block link %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
{% endblock %}
{% block top %}

<div class="hero-body">
  <div class="container">
    <h1 class="title has-text-centered">Signup</h1>
    <div class="columns is-centered">
      <div class="column is-6-tablet is-5-desktop is-4-widescreen">
        
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="notification is-{{category}}" style="margin: 0 auto;">
          <button class="delete"></button>
          {{ message }}
        </div>
        {% endfor %}

        <form method="post" class="box has-background-warning">
          <div class="field">
            <label for="email" class="label">Email</label>
            <div class="control has-icons-left">
              <input type="email" id="email" name="email" placeholder="email@itu.edu.tr" class="input" required>
              <span class="icon is-small is-left has-text-dark">
                <i class="fa fa-envelope "></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label for="password" class="label">Password</label>
            <div class="control has-icons-left">
              <input type="password" id="password" name="password" placeholder="At least 8 characters" minlength="8" class="input" required>
              <span class="icon is-small is-left has-text-dark">
                <i class="fa fa-lock"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label for="userType" class="label">Account Type</label>
            <div class="control">
              <select class="form-control" id="userType" name="userType" style="width: 100%" required>
                <option value="">&nbsp;</option>
                <option value="Student">Student</option>
                <option value="Instructor">Instructor</option>
              </select>
            </div>
          </div>
          <div class="field">
            <button class="button has-text-warning-dark">
              Sign Up
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $("#userType").select2();
</script>
{% endblock %}